@property --one {
    syntax: "<percentage>";
    initial-value: .5%;
    inherits: false;
}
@property --two {
    syntax: "<percentage>";
    initial-value: 15%;
    inherits: false;
}
@property --three {
    syntax: "<percentage>";
    initial-value: 30%;
    inherits: false;
}

.no-userInteraction {
    mask: linear-gradient(130deg, rgba(0,0,0,0.3) var(--one), rgba(255,255,255,0.5) var(--two), rgba(0,0,0,0.3) var(--three));
    pointer-events: none;
    cursor: not-allowed;
    animation: skeleton infinite forwards 1300ms ease-in-out;
}
@keyframes skeleton {
    from {
        --one: .5%;
        --two: 5%;
        --three: 10%;
    }
    50% {
        --one: 35%;
        --two: 50%;
        --three: 75%;
    }
    to {
        --one: 90%;
        --two: 95%;
        --three: 100%;
    }
}